.App {
  font-family: sans-serif;
  text-align: center;
  width: 100vw;
  min-height: 100vh;
  background-color: #264653;
  color: #a2d6f9;
  display: flex;
  flex-direction: column;
  align-items: center;
}
